<% provide(:title, t(".title")) %>
<h1><%= t(".title") %></h1>
<p>
  <%= t(".text_html", link_hd: link_to(t(".text_link"), t(".link")), link_book: link_to(t(".text_book"), t(".link_railsBook")), link_screen: link_to(t(".text_screen"), t(".link_railsScreencasts")), link_ruby: link_to(t(".text_ruby"), t(".link_rubyonrails")))  %>
</p>
